main .container.history {

  div.history {

    ul {

      li {
        grid-template-areas: "when . ." "when . cost" "details . cost" "details . .";
        grid-template-columns: auto 1fr auto;

        p{
          margin: 0;
        }

        p.when{
          grid-area: when;
          font-size: 22px;
        }

        p.details{
          grid-area: details;
          font-size: 18px;

          &::after{
            content: attr(data-where);
          }
        }

        p.cost{
          grid-area: cost;
          font-size: 32px;

          &::before{ content: "￥"; }
        }

        &.showing{
          grid-template-areas: "when" "details" "cost";
          gap: 4px;
          grid-template-columns: 100%;

          p{
            display: block;
          }

          p.when{
            font-size: 22px;
          }

          p.details{
            font-size: 18px;

            &::after{
              content: attr(data-where) " で " attr(data-what) " を " attr(data-amount) " 個 購入";
            }
          }

          p.cost{
            text-align: center;
          }
        }
      }
    }
  }

}